<!-- Configures an ajax lookup / typeahead using vue-multiselect -->
<template>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="fas fa-fw fa-search"></span></span>
        </div>
        <div class="vue-multi-select-wrapper">
            <multiselect
                :value="selection"
                label="text"
                track-by="id"
                @search-change="onSearchChange"
                @select="onSelectionChanged"
                :options="options"
                :loading="isLoading"
                :close-on-select="true"
                :show-labels="false"
                :internal-search="false"
                :placeholder="placeholder"
                :disabled="disabled"
            >
                <template slot="noResult">No matches found</template>
                <template slot="noOptions">Type to search</template>
            </multiselect>
        </div>
        <div class="input-group-append">
            <slot name="append"></slot>
            <button v-show="selection && !disabled" @click.prevent="clearSelection" class="btn btn-outline-danger" type="button">
                <span class="fas fa-times compact"></span>
            </button>
        </div>
    </div>
</template>

<style lang="scss">
    .vue-multi-select-wrapper {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
</style>

<script>
    import { map, debounce, isString } from 'lodash-es'
    import Multiselect from 'vue-multiselect'

    export default {

        components: {
            multiselect: Multiselect
        },

        props: {
            //  Holds selected value to be passed via v-model
            value: {
                required: true,
                type: null,
            },
            // Where to fetch data from
            endpoint: {
                type: String,
                required: true
            },
            // How results from the server should be mapped.
            // By default expects a name and ID property in each object
            mapResults: {
                type: Function,
                default: null
            },
            // Default placeholder text to show
            placeholder: {
                type: String,
                required: false,
                default: 'Type to search'
            },
            disabled: {
                required: false,
                type: Boolean,
                default: false
            },
            // Any additional form data to send with the lookup request
            formData: {
                type: Object,
                default: () => ({})
            },
        },

        data() {
            return {
                isLoading: false,
                selection: this.formatExternalValue(this.value),
                options: [],
                searchDebounced: debounce(term => this.search(term), 600)
            }
        },

        methods: {

            /**
             * Handles formatting an external provided value.
             * We can work with a simple string or an object that will be appropriately mapped
             * using any provided mapping function
             */
            formatExternalValue(value) {
                if (!value) return null
                if (isString(value)) return {text: value, id: null}
                var mappedObject = this.processSearchResults([value])[0]
                return mappedObject.text ? mappedObject : null
            },

            onSearchChange(term) {
                if (!term) return
                this.isLoading = true
                this.searchDebounced(term)
            },

            onSelectionChanged(selection) {
                this.$emit('input', selection)
            },

            search(term) {
                var sendData = {
                    params: {
                        ...this.formData,
                        term: term
                    }
                }
                axios.get(`${globals.app.url}/${this.endpoint}`, sendData)
                    .then(res => {
                        this.isLoading = false
                        this.options = this.processSearchResults(res.data.data || res.data)
                    })
            },

            clearSelection() {
                this.$emit('input', null)
            },

            processSearchResults(results) {
                if (this.mapResults) {
                    return this.mapResults(results)
                }

                // Default mapping function assumes the object either has a text or name property
                return map(results, data => {
                    data.id = data.id || data.vision_id,
                    data.text = data.text || data.name
                    return data
                })
            },

        },

        watch: {
            value(newVal) {
                this.selection = this.formatExternalValue(newVal)
            },
        }

    }
</script>