/////////////////////////////////////////////////////////////////////////////////////
// Various helper classes that can be used standalone or mixed into other classes. //
/////////////////////////////////////////////////////////////////////////////////////

.compact {margin: 0 !important}
.condensed {padding: 0 !important}
.clickable {cursor: pointer}

@mixin rounded-bg() {
	background: $gray-200;
	border-radius: 50%;
}

.soft {color: $gray-500}

.nl2br {white-space: pre-line}

.autoscroll {overflow-y: auto}

.max-height-300 {max-height: 300px}
.max-height-400 {max-height: 400px}

// Adds negative margin to override the default page content padding
.edge-to-edge {
    margin-left: -20px;
    margin-right: -20px;
}

.cover-image {
    @extend .edge-to-edge;
    margin-top: -20px;
    background-size: cover;
    color: $white;
    padding: 40px;
    h1, p {
        text-shadow: 0 1px 2px #000;
    }
}
