/////////////////////////////////////////////////////
// Various library integration fixes and overrides //
/////////////////////////////////////////////////////

// Use a nicer font for the larger display headings
.display-1, .display-2, .display-3, .display-4, {
    font-family: Segoe UI;
}

.navbar-brand img {margin-right: 10px;}

.fa {margin-right: 5px}

// Adjust lead styles for our custom font
p.lead {font-size: 21px; font-weight: normal}

// Allow page headers to have a fancy icon
.page-header {
	margin-bottom: 40px;
	.page-icon {
		padding: 10px;
	}
}

code {color: $body-color}

.dl-compact {
	dd {margin: 0}
}

table {border-collapse: collapse}
table.table thead th {
    color: $primary;
    font-size: 12px;
}

// Support for table-sm class
table.table-sm tr td, table.table-sm tr th {
    font-size: 12px;
}

// Support for active td styling
.table > tbody > tr > td.active {
    color: #fff;
    background: $primary;
}

// Nicer WSP branded form labels and card titles
.card-title, label, .tabs .nav-item, .navbar-nav {
    font-weight: bold;
    color: $primary;
    font-size: $font-size-base;
}

.card-title, label {margin-bottom: 0;}

// Some custom datatables-bootstrap overrrides. Want the quicksearch on the left.
div.dataTables_wrapper label {margin-bottom: 5px}
div.dataTables_filter label {float: left}
div.dataTables_length label {float: right}
table.dataTable {margin-top: 0 !important}

// Increase the default width of datatables quicksearch.
div.dataTables_wrapper div.dataTables_filter input {width: 240px;}

label.heading {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    margin: 0;
}

.list-group-compact {
    .list-group-item {
        padding: 2px;
    }
}

.navbar .fa {
    margin-right: 5px;
}

// Add disabled styling
.ql-disabled .ql-editor {background: $input-disabled-bg}
