@import 'variables';

// Vendor
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
@import 'tempusdominus-bootstrap-4';
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min";
@import 'vue-multiselect-bootstrap-4';

// Partials
@import 'fonts';
@import 'classes';
@import 'fixes';

#app {
    // prevent flash of unstyled content
    transition: opacity 200ms linear;
    opacity: 1;
    &.loading {opacity: 0}
}

#page-nav {
    .fa {color: $primary}
}

#page-content {
    padding: 20px;
}

// Style up form tooltips
.form-tooltip {
    font-size: $font-size-sm;
    &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f05a";
        margin-right: 10px;
    }
}

// Allow tables to be given an actions class to adjust their sizing to fit buttons in nicely.
td.actions {
    width: 5%;
    white-space: nowrap;
    text-align: center;
    padding: 2px !important;
    .btn {@extend .btn-sm; i {margin: 0; font-size: 1.2rem;}}
}